div,li,ul,a,span{
	margin: 0;
	padding: 0;
}
.contact-type-view{
	float: left;
	height:400px;
	width:15%;
	background-color: gray;
}
.contact-main-area{
	float: left;
	height:400px;
	width:85%;
	background-color: #E6E5E1;
}


.contact-list{
	margin: 10px;
}
.contact-type-list li{
	list-style-type: none;
}
.contact-list td {
	border: 1px solid black;
	
}
.contact-list  a{
	text-decoration: none;
}
.contact-name,.contact-email,.contact-mobile{
	
}
.contact-name{width:50%;}
.contact-email{width:30%;}
.contact-mobile{}